@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez NegoSud</h1>
    <p>Découvrez nos vins d'exception sur notre site et passez commande</p>
    <img class="w-100" src="/css/img/image1.png">
</div>