html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

nav {
    background-color: #6C1414;
}

.wine {
    height: 30px;
    width: 30px;
}
